.contact{
    background: #000;
    display: flex;
    justify-content:center;
    align-items:center;
    color: $light;
    flex-direction:column;

    .contactForm{
        position: relative;
        width: 700px;
        margin-top: 20px;

        .row{
        width: 100%;
        display: flex;


        .col50{
            width: 50%;
            margin: 10px;
        }

        .col100{
            width: 100%;
            margin: 10px;
            text-align: center;
        }

        input, textarea{
            width: 100%;
            padding: 10px;
            border:none;
            outline: none;
            background: $dark;
            color: #fff;
            font-size: 16x;
            resize: none;
        }

        textarea{
            height: 100px;
        }
input[type="submit"]{
    background: $info;
    color: $light;
    padding: 10px 30px;
    display: inline-block;
   font-weight: 500;
   letter-spacing: 2px;
   cursor: pointer;
   max-width: 150px;
}
        }

    }
}

.copyright{
    color: $light;
    background:$dark;
    text-align: center;
    padding: 10px;

    p{
        margin: 0;
        font-size: 16px;
        
    }
}